/* STYLE RESET*/
html, body, h1, h2, h3, h4, p, ul, li, div, a{
	padding: 0;
	border: 0;
	margin: 0;									
	font: inherit;
	font-size: 100%;
	text-decoration: none;
}

/* HEADER CONSTRUCTION*/
header{
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
	z-index: 1;
	background-color: white;
}
.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 20px;
}
.logo img{
	padding-right: 10px;
}
#logotext{
	color: MediumAquamarine;
}
.uppernav{
	display: flex;
	padding-right: 40px;
	flex-wrap: wrap;
}
.uppernav span{
	display: inline-block;
	color: black;
	text-decoration: underline;
	padding: 20px 10px;
}

/*MAIN CONTENT SECTION*/
h2{
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding: 16px 0;
}
h3{
	font-size: 19px;
	font-weight: bold;
	color: black;
	padding: 16px 0;
}
.maincont{
	display: flex;
	border:1px solid black;
	padding-top: 120px;
}
.column{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	margin-right: 30px;
}
.column.large{
	width: 630px;
}
.column.medium{
	width: 300px;
}
.column.small{
	width: 240px;
}
.imagecontent, .article{
	border:1px solid black;
}
.article{
	padding: 16px 0;
}
.news-bites{
	border: 1px solid black;
}